<form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br>
  <br>
  <label for="email">E-mail:</label>
  <input type="email" id="email" name="email"><br>
  <br>
  <label for="password">Username:</label>
  <input type="password" id="password" name="password"><br>
  <br>
  <input type="submit" text="Submit">
</form>
